@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* line 1, ../scss/_refresh.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  vertical-align: baseline;
}

/* remember to define focus styles! */
/* line 20, ../scss/_refresh.scss */
:focus {
  outline: 0;
}

/* line 24, ../scss/_refresh.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 31, ../scss/_refresh.scss */
body {
  line-height: 1;
  color: black;
  background: white;
  width: 100%;
  min-width: 320px;
}

/* line 39, ../scss/_refresh.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 43, ../scss/_refresh.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 47, ../scss/_refresh.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 51, ../scss/_refresh.scss */
blockquote, q {
  quotes: "" "";
}

/* line 55, ../scss/_refresh.scss */
a:focus, object:focus {
  outline: none;
}

/* line 58, ../scss/_refresh.scss */
i, em {
  font-style: italic;
}

/* line 62, ../scss/_refresh.scss */
b, strong {
  font-weight: bold;
}

/* line 2, ../scss/pages/_mainpage.scss */
header .top-wrapper {
  width: 100%;
  background-color: #252323;
}
/* line 6, ../scss/pages/_mainpage.scss */
header .top-part {
  width: 963px;
  max-width: 90%;
  margin: auto;
  height: 61px;
}
/* line 11, ../scss/pages/_mainpage.scss */
header .top-part .logo {
  padding-top: 16px;
  font-size: 24px;
  font-family: Pacifico, Arial, sans-serif;
  color: #ffffff;
  float: left;
}
/* line 17, ../scss/pages/_mainpage.scss */
header .top-part .logo span {
  color: #00bac6;
}
/* line 21, ../scss/pages/_mainpage.scss */
header .top-part .social-links {
  padding-top: 19px;
  float: right;
}
/* line 24, ../scss/pages/_mainpage.scss */
header .top-part .social-links ul {
  list-style: none;
}
/* line 27, ../scss/pages/_mainpage.scss */
header .top-part .social-links li {
  margin-left: 21px;
  display: block;
  width: 26px;
  height: 26px;
  float: left;
  background: url("../images/social-links.png") no-repeat 0 0;
}
/* line 34, ../scss/pages/_mainpage.scss */
header .top-part .social-links li.facebook {
  margin-left: 15px;
  background-position: -41px 0;
}
/* line 38, ../scss/pages/_mainpage.scss */
header .top-part .social-links li.twitter {
  background-position: -87px 0;
}
/* line 41, ../scss/pages/_mainpage.scss */
header .top-part .social-links li.linkedin {
  background-position: -135px 0;
}
/* line 47, ../scss/pages/_mainpage.scss */
header .navigation {
  overflow: hidden;
}
/* line 49, ../scss/pages/_mainpage.scss */
header .navigation ul {
  list-style: none;
  width: 980px;
  margin: auto;
  overflow: hidden;
  padding-top: 37px;
}
/* line 56, ../scss/pages/_mainpage.scss */
header .navigation li {
  float: left;
}
/* line 58, ../scss/pages/_mainpage.scss */
header .navigation li > a {
  color: #8b8b8b;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  padding: 0 14px 29px 11px;
  height: 45px;
}
/* line 69, ../scss/pages/_mainpage.scss */
header .navigation li:hover > a {
  color: #00bac6;
  border-bottom: 2px solid;
}
/* line 74, ../scss/pages/_mainpage.scss */
header .navigation li .exit {
  padding-top: 1px;
  font-size: 18px;
  padding-left: 8px;
  padding-right: 7px;
  padding-bottom: 4px;
  border-radius: 100%;
  position: absolute;
  top: -9px;
  right: -12px;
  text-decoration: none;
  color: #ffffff;
  background-color: #0095C6;
  -moz-box-shadow: -1px 2px 3px #333333;
  -webkit-box-shadow: -1px 2px 3px #333333;
  box-shadow: -1px 2px 3px #333333;
  font-weight: bold;
}

/* line 94, ../scss/pages/_mainpage.scss */
.main-page-slideshow {
  padding-top: 2px;
}
/* line 96, ../scss/pages/_mainpage.scss */
.main-page-slideshow .slide {
  position: relative;
}
/* line 98, ../scss/pages/_mainpage.scss */
.main-page-slideshow .slide img {
  width: 100%;
}
/* line 101, ../scss/pages/_mainpage.scss */
.main-page-slideshow .slide .text {
  position: absolute;
  top: 36%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
}
/* line 112, ../scss/pages/_mainpage.scss */
.main-page-slideshow .slick-dots {
  bottom: 24px;
}
/* line 114, ../scss/pages/_mainpage.scss */
.main-page-slideshow .slick-dots button {
  width: 12px;
  height: 12px;
  border: 4px solid #ffffff;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* line 119, ../scss/pages/_mainpage.scss */
.main-page-slideshow .slick-dots button:before {
  content: '';
}
/* line 124, ../scss/pages/_mainpage.scss */
.main-page-slideshow .slick-dots .slick-active button {
  background: #00bac6;
}
/* line 129, ../scss/pages/_mainpage.scss */
.main-page-slideshow .slick-prev,
.main-page-slideshow .slick-next {
  height: 52px;
  width: 27px;
  background: url("../images/slideshow-arrows.png") no-repeat 0 0;
  text-indent: -9999px;
  color: transparent;
  font-size: 0;
  opacity: 0.6;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
/* line 139, ../scss/pages/_mainpage.scss */
.main-page-slideshow .slick-prev:hover,
.main-page-slideshow .slick-next:hover {
  opacity: 1;
}
/* line 142, ../scss/pages/_mainpage.scss */
.main-page-slideshow .slick-prev:hover, .main-page-slideshow .slick-prev:focus,
.main-page-slideshow .slick-next:hover,
.main-page-slideshow .slick-next:focus {
  background: url("../images/slideshow-arrows.png") no-repeat 0 0;
}
/* line 147, ../scss/pages/_mainpage.scss */
.main-page-slideshow .slick-prev {
  left: 5%;
}
/* line 150, ../scss/pages/_mainpage.scss */
.main-page-slideshow .slick-next {
  right: 5%;
  background-position: -35px 0;
}
/* line 153, ../scss/pages/_mainpage.scss */
.main-page-slideshow .slick-next:hover, .main-page-slideshow .slick-next:focus {
  background-position: -35px 0;
}

/* line 159, ../scss/pages/_mainpage.scss */
.footer {
  position: absolute;
  bottom: 0;
  background: #252323;
  height: 75px;
  width: 100%;
}
/* line 165, ../scss/pages/_mainpage.scss */
.footer footer {
  padding-top: 30px;
  width: 963px;
  margin: auto;
  color: #c1c1c1;
}
/* line 171, ../scss/pages/_mainpage.scss */
.footer.static {
  position: static;
}

/* line 10, ../scss/global.scss */
.registration-form-wrapper,
.login-form-wrapper {
  display: none;
  position: absolute;
  background-color: #ffffff;
  right: 50%;
  top: 25%;
  padding: 61px 34px;
  border-radius: 14px;
  margin-right: -150px;
  z-index: 101;
  width: 300px;
}

/* line 23, ../scss/global.scss */
.registration-form-wrapper input,
.login-form-wrapper input {
  display: block;
}

/* line 29, ../scss/global.scss */
.registration-form-wrapper input[type="text"],
.registration-form-wrapper input[type="password"],
.login-form-wrapper input[type="text"],
.login-form-wrapper input[type="password"] {
  max-width: 100%;
  height: 38px;
  font-size: 20px;
  padding-left: 13px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 2px solid #0095C6;
}

/* line 42, ../scss/global.scss */
.registration-form-wrapper input[type="submit"],
.login-form-wrapper input[type="submit"] {
  display: block;
  padding-top: 8px;
  padding-bottom: 9px;
  width: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjAxNjgzIiB5MT0iMC41MTgwNDgiIHgyPSIxLjAxNjgzIiB5Mj0iMC40ODE5NTIiPjxzdG9wIG9mZnNldD0iNDElIiBzdG9wLWNvbG9yPSIjNThhM2U2Ii8+PHN0b3Agb2Zmc2V0PSI1OSUiIHN0b3AtY29sb3I9IiM1MzlhZDkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(2deg, #58a3e6 41%, #539ad9 59%);
  background-image: -webkit-linear-gradient(2deg, #58a3e6 41%, #539ad9 59%);
  background-image: linear-gradient(88deg, #58a3e6 41%, #539ad9 59%);
  border: none;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
}

/* line 2, ../scss/_mixins.scss */
.registration-form-wrapper input[type="password"]::-webkit-input-placeholder,
.registration-form-wrapper input[type="text"]::-webkit-input-placeholder,
.login-form-wrapper input[type="password"]::-webkit-input-placeholder,
.login-form-wrapper input[type="text"]::-webkit-input-placeholder {
  color: #539AD9;
}
/* line 3, ../scss/_mixins.scss */
.registration-form-wrapper input[type="password"]:-moz-placeholder,
.registration-form-wrapper input[type="text"]:-moz-placeholder,
.login-form-wrapper input[type="password"]:-moz-placeholder,
.login-form-wrapper input[type="text"]:-moz-placeholder {
  color: #539AD9;
}
/* line 4, ../scss/_mixins.scss */
.registration-form-wrapper input[type="password"]::-moz-placeholder,
.registration-form-wrapper input[type="text"]::-moz-placeholder,
.login-form-wrapper input[type="password"]::-moz-placeholder,
.login-form-wrapper input[type="text"]::-moz-placeholder {
  color: #539AD9;
}
/* line 5, ../scss/_mixins.scss */
.registration-form-wrapper input[type="password"]:-ms-input-placeholder,
.registration-form-wrapper input[type="text"]:-ms-input-placeholder,
.login-form-wrapper input[type="password"]:-ms-input-placeholder,
.login-form-wrapper input[type="text"]:-ms-input-placeholder {
  color: #539AD9;
}
/* line 2, ../scss/_mixins.scss */
.registration-form-wrapper input[type="password"]:focus::-webkit-input-placeholder,
.registration-form-wrapper input[type="text"]:focus::-webkit-input-placeholder,
.login-form-wrapper input[type="password"]:focus::-webkit-input-placeholder,
.login-form-wrapper input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 3, ../scss/_mixins.scss */
.registration-form-wrapper input[type="password"]:focus:-moz-placeholder,
.registration-form-wrapper input[type="text"]:focus:-moz-placeholder,
.login-form-wrapper input[type="password"]:focus:-moz-placeholder,
.login-form-wrapper input[type="text"]:focus:-moz-placeholder {
  color: transparent;
}
/* line 4, ../scss/_mixins.scss */
.registration-form-wrapper input[type="password"]:focus::-moz-placeholder,
.registration-form-wrapper input[type="text"]:focus::-moz-placeholder,
.login-form-wrapper input[type="password"]:focus::-moz-placeholder,
.login-form-wrapper input[type="text"]:focus::-moz-placeholder {
  color: transparent;
}
/* line 5, ../scss/_mixins.scss */
.registration-form-wrapper input[type="password"]:focus:-ms-input-placeholder,
.registration-form-wrapper input[type="text"]:focus:-ms-input-placeholder,
.login-form-wrapper input[type="password"]:focus:-ms-input-placeholder,
.login-form-wrapper input[type="text"]:focus:-ms-input-placeholder {
  color: transparent;
}

/* line 71, ../scss/global.scss */
.popup-background {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  cursor: pointer;
}

/* line 82, ../scss/global.scss */
.error-message {
  color: #ff7f7f;
  font-size: 15px;
  text-align: right;
  margin: -17px 2px 2px 0;
}
/* line 87, ../scss/global.scss */
.error-message + input[type="text"], .error-message + input[type="password"] {
  border: 2px solid #ff7f7f;
}
/* line 2, ../scss/_mixins.scss */
.error-message + input[type="text"]::-webkit-input-placeholder, .error-message + input[type="password"]::-webkit-input-placeholder {
  color: #ff7f7f;
}
/* line 3, ../scss/_mixins.scss */
.error-message + input[type="text"]:-moz-placeholder, .error-message + input[type="password"]:-moz-placeholder {
  color: #ff7f7f;
}
/* line 4, ../scss/_mixins.scss */
.error-message + input[type="text"]::-moz-placeholder, .error-message + input[type="password"]::-moz-placeholder {
  color: #ff7f7f;
}
/* line 5, ../scss/_mixins.scss */
.error-message + input[type="text"]:-ms-input-placeholder, .error-message + input[type="password"]:-ms-input-placeholder {
  color: #ff7f7f;
}
