/* line 1, ../scss/global.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
/* line 20, ../scss/global.scss */
:focus {
  outline: 0;
}

/* line 23, ../scss/global.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 30, ../scss/global.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 34, ../scss/global.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 38, ../scss/global.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 42, ../scss/global.scss */
blockquote, q {
  quotes: "" "";
}

/* line 46, ../scss/global.scss */
a:focus, object:focus {
  outline: none;
}

/* line 49, ../scss/global.scss */
i, em {
  font-style: italic;
}

/* line 53, ../scss/global.scss */
b, strong {
  font-weight: bold;
}

/* line 62, ../scss/global.scss */
.registration-form-wrapper,
.login-form-wrapper {
  display: none;
  position: absolute;
  background-color: #ffffff;
  right: 50%;
  top: 25%;
  padding: 61px 34px;
  border-radius: 14px;
  margin-right: -119px;
  z-index: 101;
}

/* line 74, ../scss/global.scss */
.registration-form-wrapper input,
.login-form-wrapper input {
  display: block;
}

/* line 80, ../scss/global.scss */
.registration-form-wrapper input[type="text"],
.registration-form-wrapper input[type="password"],
.login-form-wrapper input[type="text"],
.login-form-wrapper input[type="password"] {
  width: 225px;
  height: 38px;
  font-size: 20px;
  padding-left: 13px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 2px solid #0095C6;
}

/* line 93, ../scss/global.scss */
.registration-form-wrapper input[type="submit"],
.login-form-wrapper input[type="submit"] {
  padding-top: 8px;
  padding-bottom: 9px;
  width: 241px;
  background: linear-gradient(88deg, #58A3E6 41%, #539AD9 59%);
  background: -moz-linear-gradient(88deg, #58A3E6 41%, #539AD9 59%);
  background: -webkit-linear-gradient(88deg, #58A3E6 41%, #539AD9 59%);
  background: -o-linear-gradient(88deg, #58A3E6 41%, #539AD9 59%);
  border: none;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
}

/* line 109, ../scss/global.scss */
a.exit {
  padding-top: 1px;
  font-size: 18px;
  padding-left: 8px;
  padding-right: 7px;
  padding-bottom: 4px;
  border-radius: 100%;
  position: absolute;
  top: -9px;
  right: -12px;
  text-decoration: none;
  color: #ffffff;
  background-color: #0095C6;
  box-shadow: -1px 2px 3px #333333;
  -webkit-box-shadow: -1px 2px 3px #333333;
  -moz-box-shadow: -1px 2px 3px #333333;
  font-weight: bold;
}

/* line 57, ../scss/global.scss */
.registration-form-wrapper input[type="password"]::-webkit-input-placeholder,
.registration-form-wrapper input[type="text"]::-webkit-input-placeholder,
.login-form-wrapper input[type="password"]::-webkit-input-placeholder,
.login-form-wrapper input[type="text"]::-webkit-input-placeholder {
  color: #539AD9;
}
/* line 58, ../scss/global.scss */
.registration-form-wrapper input[type="password"]:-moz-placeholder,
.registration-form-wrapper input[type="text"]:-moz-placeholder,
.login-form-wrapper input[type="password"]:-moz-placeholder,
.login-form-wrapper input[type="text"]:-moz-placeholder {
  color: #539AD9;
}
/* line 59, ../scss/global.scss */
.registration-form-wrapper input[type="password"]::-moz-placeholder,
.registration-form-wrapper input[type="text"]::-moz-placeholder,
.login-form-wrapper input[type="password"]::-moz-placeholder,
.login-form-wrapper input[type="text"]::-moz-placeholder {
  color: #539AD9;
}
/* line 60, ../scss/global.scss */
.registration-form-wrapper input[type="password"]:-ms-input-placeholder,
.registration-form-wrapper input[type="text"]:-ms-input-placeholder,
.login-form-wrapper input[type="password"]:-ms-input-placeholder,
.login-form-wrapper input[type="text"]:-ms-input-placeholder {
  color: #539AD9;
}
/* line 57, ../scss/global.scss */
.registration-form-wrapper input[type="password"]:focus::-webkit-input-placeholder,
.registration-form-wrapper input[type="text"]:focus::-webkit-input-placeholder,
.login-form-wrapper input[type="password"]:focus::-webkit-input-placeholder,
.login-form-wrapper input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 58, ../scss/global.scss */
.registration-form-wrapper input[type="password"]:focus:-moz-placeholder,
.registration-form-wrapper input[type="text"]:focus:-moz-placeholder,
.login-form-wrapper input[type="password"]:focus:-moz-placeholder,
.login-form-wrapper input[type="text"]:focus:-moz-placeholder {
  color: transparent;
}
/* line 59, ../scss/global.scss */
.registration-form-wrapper input[type="password"]:focus::-moz-placeholder,
.registration-form-wrapper input[type="text"]:focus::-moz-placeholder,
.login-form-wrapper input[type="password"]:focus::-moz-placeholder,
.login-form-wrapper input[type="text"]:focus::-moz-placeholder {
  color: transparent;
}
/* line 60, ../scss/global.scss */
.registration-form-wrapper input[type="password"]:focus:-ms-input-placeholder,
.registration-form-wrapper input[type="text"]:focus:-ms-input-placeholder,
.login-form-wrapper input[type="password"]:focus:-ms-input-placeholder,
.login-form-wrapper input[type="text"]:focus:-ms-input-placeholder {
  color: transparent;
}

/* line 142, ../scss/global.scss */
.popup-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  cursor: pointer;
}

/* line 153, ../scss/global.scss */
.error-message {
  color: #ff7f7f;
  font-size: 15px;
  text-align: right;
  margin: -17px 2px 2px 0;
}

.success-m {
  color: #5fcf5f;
  font-size: 15px;
  text-align: right;
  margin: -17px 2px 2px 0;
}

/* line 159, ../scss/global.scss */
.error-message + input[type="text"],
.error-message + input[type="password"] {
  border: 2px solid #ff7f7f;
}
/* line 57, ../scss/global.scss */
.error-message + input[type="text"]::-webkit-input-placeholder,
.error-message + input[type="password"]::-webkit-input-placeholder {
  color: #ff7f7f;
}
/* line 58, ../scss/global.scss */
.error-message + input[type="text"]:-moz-placeholder,
.error-message + input[type="password"]:-moz-placeholder {
  color: #ff7f7f;
}
/* line 59, ../scss/global.scss */
.error-message + input[type="text"]::-moz-placeholder,
.error-message + input[type="password"]::-moz-placeholder {
  color: #ff7f7f;
}
/* line 60, ../scss/global.scss */
.error-message + input[type="text"]:-ms-input-placeholder,
.error-message + input[type="password"]:-ms-input-placeholder {
  color: #ff7f7f;
}

/* line 159, ../scss/global.scss */
.success-m + input[type="text"],
.success-m + input[type="password"] {
  border: 2px solid #5fcf5f;
}
/* line 57, ../scss/global.scss */
.success-m + input[type="text"]::-webkit-input-placeholder,
.success-m + input[type="password"]::-webkit-input-placeholder {
  color: #5fcf5f;
}
/* line 58, ../scss/global.scss */
.success-m + input[type="text"]:-moz-placeholder,
.success-m + input[type="password"]:-moz-placeholder {
  color: #5fcf5f;
}
/* line 59, ../scss/global.scss */
.success-m + input[type="text"]::-moz-placeholder,
.success-m + input[type="password"]::-moz-placeholder {
  color: #5fcf5f;
}
/* line 60, ../scss/global.scss */
.success-m + input[type="text"]:-ms-input-placeholder,
.success-m + input[type="password"]:-ms-input-placeholder {
  color: #5fcf5f;
}
