<!DOCTYPE html>
<html>
<head>
{% block header %}
  <title>{% block title %}base{% endblock %}</title>
  <meta charset="UTF-8">
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <link rel="stylesheet" type="text/css" href="/static/css/global.css">
  <link rel="stylesheet" type="text/css" href="/static/js/slick/slick-theme.css">
  <link rel="stylesheet" type="text/css" href="/static/js/slick/slick.css">
  <script type="text/javascript" src="/static/js/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="/static/js/scripts.js"></script>
  <script type="text/javascript" src="/static/js/slick/slick.min.js"></script>
  {% endblock %}
</head>
<body>
<div class="menu">{% block menu %}{% endblock %}</div>
<div class="main-part">{% block content %}{% endblock %}</div>
<div class="footer">{% block footer %}{% endblock %}</div>
</body>
</html>

