<!DOCTYPE html>
<html>
<head>
  <title>G_VK - Home page</title>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/static/images/ico_logined.png">
  <link rel="stylesheet" type="text/css" href="/static/css/global.css">
  <script type="text/javascript" src="/static/js/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="/static/js/scripts.js"></script>
</head>
<body>
<header>
<div class="main-contnent"></div>
<h1>
     home login:{{ login }}
</h1>
<br>
<h1>
    <a href="/upload_testing">testing upload</a>
</h1>
<br>
<h1>
    <a href="/logout">Logout</a>
</h1>
<footer></footer>
</body>
</html>

