{% extends "base.html" %}
{% block title %}
Index G_VK
{% endblock %}

{% block header %}
{{ super() }}
<link rel="icon" type="image/png" href="/static/images/ico_not_logined.png">
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
<header>
  <div class="top-wrapper">
    <div class="top-part">
      <div class="logo">G <span>vk</span></div>
      <div class="social-links">
        <ul>
          <li class="rss"></li>
          <li class="facebook"></li>
          <li class="twitter"></li>
          <li class="linkedin"></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="navigation">
    <ul>
      <li><a href="/home">Home</a></li>
      <li class="reg-container">
        <a class="registration" href="#">Registration</a>
        <div class="registration-form-wrapper form-wrapper">
          <form method="post" name="registration-form" action="/regist">
            <input type="text" name="user" placeholder="Enter your name" required>
            <input type="password" name="pass" placeholder="Enter your password" required>
            <input type="password" name="re_pass" placeholder="Repeat your password"required>
            <input type="submit" name="register" value="Register">
          </form>
          <a class="exit" href="#">x</a>
        </div>
      </li>
      <li class="login-container">
        <a class="login" href="#">Login</a>
        <div class="login-form-wrapper form-wrapper">
          <form method="post" name="login-form"  >
            <input type="text" name="user" placeholder="Enter your name" required>
            <input type="password" name="pass" placeholder="Enter your password" required>
            <input type="submit" name="login" value="Login">
          </form>
        <a class="exit" href="#">x</a>
        </div>
      </li>
      <li><a href="/about">About Us</a></li>
    </ul>
  </div>
</header>
<div class="main-contnent">
  {% include "main-page-slideshow.html" %}
</div>
{% endblock %}

{% block footer %}
<footer>
  <div class="info">
    2015 All rights reserved
  </div>
</footer>
<div class="popup-background"></div>
{% endblock %}

