<!DOCTYPE html>
<html>
<head>
  <title>G_VK</title>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/static/images/ico_not_logined.png">
  <link rel="stylesheet" type="text/css" href="/static/css/global.css">
  <script type="text/javascript" src="/static/js/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="/static/js/scripts.js"></script>
</head>
<body>
<header>
  <div class="registration-form-wrapper form-wrapper">
    <form method="post" name="registration-form" action="/regist">
      <input type="text" name="user" placeholder="Enter your name" required>
      <input type="password" name="pass" placeholder="Enter your password" required>
      <input type="password" name="re_pass" placeholder="Repeat your password"required>
      <input type="submit" name="register" value="Register">
    </form>
  <a class="exit" href="#">x</a>
  </div>
  <a class="registration" href="#">Registration</a>
  <div class="login-form-wrapper form-wrapper">
    <form method="post" name="login-form" action="/login">
      <input type="text" name="user" placeholder="Enter your name" required>
      <input type="password" name="pass" placeholder="Enter your password" required>
      <input type="submit" name="login" value="Login">
    </form>
  <a class="exit" href="#">x</a>
  </div>
  <a class="login" href="#">Login</a>
</header>
<div class="main-contnent"></div>
<footer></footer>
<div class="popup-background"></div>
</body>
</html>

