<div class="main-page-slideshow">
  <div class="slides-wrapper">
    <div class="slide slide-first">
      <div class="text">Welcome to our mega site</div>
      <div class="image">
        <img src="/static/images/slide1.png">
      </div>
    </div>
    <div class="slide slide-second">
      <div class="text">Text Second</div>
      <div class="image">
        <img src="/static/images/slide2.png">
      </div>
    </div>
    <div class="slide slide-third">
      <div class="text">Text Third</div>
      <div class="image">
        <img src="/static/images/slide3.png">
      </div>
    </div>
    <div class="slide slide-fourth">
      <div class="text">Text Fourth</div>
      <div class="image">
        <img src="/static/images/slide4.png">
      </div>
    </div>
  </div>
</div>