<!DOCTYPE html>
<html>
<head>
  <title>G_VK - TEST - Upload</title>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/static/images/ico_logined_adm.png">
  <link rel="stylesheet" type="text/css" href="/static/css/global.css">
  <script type="text/javascript" src="/static/js/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="/static/js/uploading-tools.js"></script>
  <style type="text/css">
div[name="prog"]{
    background-color: #ff0000;

}
  </style>
</head>
<body>
  <header></header>
  <div class="main-contnent">
    <form enctype="multipart/form-data" name="send_form"><!-- action="/upload_content" method="post"   -->
      Please choose a file:
      <input type="file" name="send_file"><br>
      <input type="text" name="s_file_name">
      <div name="prog"></div><br>
      <select name="content_type" >
          <option selected value="image" >Image</option>
          <option value="video" >Video</option>
          <option value="text" >Text</option>
          <option value="other" >Other</option>
      </select>
      <br>
      <input type="submit" value="Upload File">
  </form>
  <ul>
      {% for i in user_files %}
      <li>
        id: {{ i.id }}, type: {{ i.type }}, category: {{ i.category }}
        <br>
        <a href="/user/file?id={{ i.id }}">{% if i.type == "image" %}<img src="/user/file?id={{ i.id }}"  width="100" height="100">{% else %}file{% endif %}</a>
    </li>
    {% endfor %}
</ul>
</div>
<footer></footer>
</body>
</html>
