<!DOCTYPE html>
<html>
<head>
  <title>G_VK - Admin - All users</title>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/static/images/ico_logined_adm.png">
  <link rel="stylesheet" type="text/css" href="/static/css/global.css">
  <script type="text/javascript" src="/static/js/jquery-1.11.1.js"></script>
  <script type="text/javascript">
 $(document).ready(function() {
  $('.user-deleter').click( function () {
     var user_id = $(this).attr('id');
     var delete_form = $.post("/admin_tools/del_user"
      ,{
        id: user_id
      }
      , function(data) {
        if ("success" in data){
            location.reload(true);// <!-- relocate to home  -->
        }
        else {
            var mes = "Other error";
            if ("error" in data)  mes = data["error"];
            alert(mes);
        }
      }
      , "json"
    );

    delete_form.fail(
        function() {
            alert("Request error");
        }
    );
  });
});
  </script>
</head>
<body>
  <header></header>
  <div class="main-contnent">
    <ul>
      <li>
        users = [
      </li>
      {% for user in users %}
      <li>
        {  Id: {{ user.id }}, Name: {{ user.login }}, Status: {{ user.status }}  }, <a class="user-deleter" id="{{ user.id }}" href="#">DELETE</a>
      </li>
      {% endfor %}
      <li>
        ]
      </li>
    </ul>
  </div>
  <footer></footer>
</body>
</html>
